    <div id="ft">
        <div id="footerWrapper">
            <div id="footer">
                <div class="column">
                    <h6 style="" class="sIFR-replaced"><span id="sIFR_callback_0_alternate" class="sIFR-alternate">EXPLORE UK LINKS</span></h6>
                    <p><a href="/">HOME</a></p>
                    <p><a href="/?f%5Bformat%5D%5B%5D=images">IMAGES</a></p>
                    <p><a href="/?f%5Bsource_s%5D%5B%5D=Minutes+of+the+University+of+Kentucky+Board+of+Trustees">BOARD OF TRUSTEES MINUTES</a></p>
                    <p><a href="/?f%5Bsource_s%5D%5B%5D=University+of+Kentucky+Yearbook+Collection">YEARBOOKS</a></p>
                </div>
                <div class="column">
                    <h6 style="" class="sIFR-replaced"><span id="sIFR_callback_1_alternate" class="sIFR-alternate">CONTACT EXPLORE UK</span></h6>
                    <p><a href="https://libraries.uky.edu/SC">University of Kentucky Special<br>Collections</a></p>
                    <p>Phone: (859) 257-8611</p>
                    <p>Fax: (859) 257-6311</p>
                    <p><a href="https://libraries.uky.edu/ContactSCRC">Contact SCRC</a></p>
                    <p>Copyright University of Kentucky</p>
                </div>
                <div class="column">
                    <h6 style="" class="sIFR-replaced"><span id="sIFR_callback_2_alternate" class="sIFR-alternate">EXTERNAL LINKS</span></h6>
                    <p><a href="https://libraries.uky.edu/" target="_blank">University of Kentucky Libraries</a></p>
                    <p><a href="https://ukyarchives.blogspot.com/" target="_blank">Curiosities &amp; Wonders</a></p>
                    <p><a href="http://kdl.kyvl.org/" target="_blank">Kentucky Digital Library</a></p>
                </div>
            </div>
        </div>
    </div>
