                    <section>
                        <h2>Browse</h2>
                        <!-- these links certainly won't work -->
                        <div class="center_2col_left">
  <ul class="highlights">
    <li class="collect_03"><a href="/catalog/facet/source_s?f%5Bformat%5D%5B%5D=images"><span class="img-box"></span><p class="text-box">Images</p></a></li>
    <li class="collect_02"><a href="/catalog/facet/source_s?f%5Bformat%5D%5B%5D=athletic+publications"><span class="img-box"></span><p class="text-box">UK Athletic Publications</p></a></li>
    <li class="collect_01"><a href="/catalog/facet/source_s?catalog_facet.sort=index"><span class="img-box"></span><p class="text-box">Collection Guides</p></a></li>
    <li class="collect_06"><a href="/catalog/facet/format?f%5Bsource_s%5D%5B%5D=The+Kentucky+Kernel"><span class="img-box"></span><p class="text-box">Kentucky Kernel</p></a></li>
    <li class="collect_05"><a href="/catalog/facet/source_s?f%5Bformat%5D%5B%5D=yearbooks"><span class="img-box"></span><p class="text-box">Yearbooks</p></a></li>
    <li class="collect_04"><a href="/catalog/facet/source_s?f%5Bformat%5D%5B%5D=oral+histories"><span class="img-box"></span><p class="text-box">Oral Histories</p></a></li>
  </ul>
  </div>
                    </section>

                    <div id="socialFooter">
                        <div id="socialLinks">
    <img src="/images/blacklight/txt_explore-uk.gif?1480961190" alt="Explore UK on"><a href="http://www.flickr.com/photos/ukarchives/" target="_blank"/>
    <img src="/images/blacklight/btn_flickr.gif?1480961190" alt="Flickr" class="border_right"></a><a href="http://www.youtube.com/user/ukyarchives" target="_blank"/>
    <img src="/images/blacklight/btn_youtube.gif?1480961190" alt="Youtube" class="border_right"/></a>
    <img src="/images/blacklight/txt_add-us.gif?1480961190" alt="Add us to"><a href="http://digg.com/submit?phase=2&amp;url=http://exploreuk.uky.edu"/>
    <img src="/images/blacklight/btn_digg.jpg?1480961190" alt="digg" class="social-link"/></a><a href="http://del.icio.us/post?url=http://exploreuk.uky.edu&amp;title=" explore="" uk="" -="" a="" historical="" collection="" of="" images="" and="" text="" from="" the="" university="" archives"="">
    <img src="/images/blacklight/btn_delicious.jpg?1480961190" alt="delicious" class="social-link"/></a><a href="http://reddit.com/submit?url=http://exploreuk.uky.edu&amp;title=" explore="" uk="" -="" a="" historical="" collection="" of="" images="" and="" text="" from="" the="" university="" archives"="">
    <img src="/images/blacklight/btn_reddit.jpg?1480961190" alt="reddit" class="social-link"/></a>
                        </div>
                          <a href="http://www.facebook.com/group.php?gid=101194321669" target="_blank"><img src="/images/blacklight/btn_facebook.jpg?1480961190" alt="Become a fan of explore UK on facebook!" class="facebook"/></a>
                            <a href="http://exploreuk.uky.edu/pages/volunteer"><img src="/images/blacklight/btn_volunteer.jpg?1480961190" alt="Become a part of Explore UK volunteer now."/></a>
                    </div>

                    <div id="see-blue"><a href="http://seeblueuk.com/"><img src="/images/blacklight/btn_see-blue.gif?1480961190" alt="See Blue"></a></div>
                </div>
            </div>
