                    <div id="search" class="search">
                        <!-- This will need to be modified -->
                        <form action="/catalog" method="get">
                            <h2 class="search"><label for="q">Search </label></h2>
                            <input class="q" id="q" name="q" type="text" value="{{q}}"/>
                            <label for="search_field"> in </label>
                            <select class="search_field" id="search_field" name="search_field" title="Targeted search options">
                                <option value="all_fields">All Fields</option>
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="subject">Subject</option>
                            </select>
                            <input class="submit" name="commit" type="submit" value="search" />
                            <div class="search_tips_container">
                                <img alt="Search tips" src="/images/blacklight/search_tips.png" title="Search tips" />
                                <ul class="search_tips">
                                    <li>Search for a specific phrase by surrounding it in quotation marks.</li>
                                    <li>Truncation and wildcards are not supported.</li>
                                    <li>Word stemming is done automatically.</li>
                                    <li>Use uppercase OR, AND, and NOT to create complex boolean logic.</li>
                                    <li>Use parentheses in your complex expressions.</li>

                                </ul>
                            </div>
                        </form>

                        <hr/>
                    </div>
